* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --lighttext: rgb(228, 255, 248);
    --dark: #3b3b4f;
}

body {
    height: 100%;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    padding: 60px;
    background-color: var(--dark);
    height: 75px;
    
    
}

header h1 {
    color: var(--lighttext);
    padding: 20px;
}

nav a {
    color: var(--dark);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--lighttext);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #bfd3d6;
    color: var(--light);
}

 .hero{
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(".assets/images/hero-image.jpeg");
    background-size: cover;
    background-position: center;
}

.nav-anchor {
    height: 120px;

}

.main-section {
    display: flex;
    position: relative;
    top: 0;
    flex-direction: column;
    margin: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--light);
    border: solid 1px black;
    height: 50px;
    
}

.main-section h2 p {
    line-height: 1.5;
    position: relative;
    left: 10px;
}

